{% extends "base.html" %}
{% block title %}Edit profile{% endblock %}

{% block content %}
<h2>Edit profile</h2>

<form method="POST" enctype="multipart/form-data">
  <label>Bio:
    <textarea name="bio">{{ user.bio or '' }}</textarea>
  </label>

  <label>Profile picture:</label>

  {% if user.profile_image %}
    <img src="{{ user.profile_image }}" width="120">
  {% else %}
    <p>No picture</p>
  {% endif %}

  <input type="file" name="profile_image" accept="image/*">

  <br><br>
  <button class="primary">Save</button>
  <a class="button-link" href="/users/{{ user.login }}">Cancel</a>
</form>
{% endblock %}
