{% extends "base.html" %}
{% block title %}Profile – {{ user.login }}{% endblock %}

{% block content %}
<h2>{{ user.login }}</h2>

{% if user.profile_image %}
  <img src="{{ user.profile_image }}" width="150">
{% endif %}

<p><b>Bio:</b><br>{{ user.bio or 'No bio provided.' }}</p>

<hr>

<h3>User posts</h3>

<ul class="posts">
{% for post in posts %}
  <li>
    <a href="/post/{{ post.id }}"><b>{{ post.title }}</b></a><br>
    <small>{{ post.created_at.strftime('%Y-%m-%d %H:%M') if post.created_at }}</small>
  </li>
{% else %}
  <li>No posts.</li>
{% endfor %}
</ul>

{% if session.user_id == user.id %}
  <a class="button-link" href="/users/edit">Edit profile</a>
{% endif %}
{% endblock %}
