{% extends "base.html" %}
{% block title %}Forum{% endblock %}

{% block content %}
<section class="home">
  <button id="showAddPost" class="btn btn-primary">➕ Nowy post</button>

  <div id="addPostModal" class="modal">
    <form method="POST" enctype="multipart/form-data" class="modal-content">
      <h2>Nowy post</h2>

      <input type="text" name="title" placeholder="Tytuł" required>
      <textarea name="content" placeholder="Treść" required></textarea>
      <input type="file" name="image" accept="image/*">

      <div class="modal-actions">
        <button class="btn btn-primary">Dodaj</button>
        <button type="button" id="hideAddPost" class="btn btn-secondary">Anuluj</button>
      </div>
    </form>
  </div>

  {% if hashtags %}
  <div class="hashtags">
    {% for tag in hashtags %}
      <a href="/hashtag/{{ tag.name }}">#{{ tag.name }}</a>
    {% endfor %}
  </div>
  {% endif %}

  <ul class="posts">
    {% for post in posts %}
    <li class="post-card">
      <a href="/post/{{ post.id }}"><h3>{{ post.title }}</h3></a>
      <small>
        {{ post.author.login }} • {{ post.created_at.strftime('%Y-%m-%d %H:%M') }}
      </small>
	  
	  {% if post.image_url %}
		<img src="{{ post.image_url }}" alt="Post image" class="post-image">
	  {% endif %}

      <p>{{ post.content | parse_mentions | safe }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
